<html data-ng-app="myFrirstApp">
    <head>
        <script src="../lib/angular.min.js"></script>
        <script src="js/myFirstModule.js"></script> 



    </head>
    <body>

        <div data-ng-controller="SimpleController">

            Filter Data: <input data-ng-model="filterKey" />{{filterKey}}
            <ul>
                <li data-ng-repeat="frnd in friends | filter:filterKey | orderBy:'name' ">{{frnd.name}} have surname {{frnd.title}}</li>
            </ul>
        </div>





    </body>
</html>